# Data Transformation I

Next, we will begin transforming our dataset by dropping values. Our primary goal of this process is to:

* drop rows with missing data
* drop select columns with overwhelmingly missing data

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part2.md` file.

In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [8]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe
df=pd.read_csv("../data/raw/shopping.csv")

In [12]:
# TODO: print out the shape of this dataframe for better clarity
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

print(df.shape)

(3900, 15)

In [21]:
# TODO: display how many null values are in each column of this dataframe
# Documentation: https://datatofish.com/count-nan-pandas-dataframe/

df.isnull

<bound method DataFrame.isnull of       Customer ID   Age  Gender Item Purchased  Purchase Amount (USD)  \
0            3475   NaN    Male         Jacket              30.904467
1            3698  21.0  Female       Backpack              31.588259
2            2756  31.0    Male       Leggings              24.231704
3            3340   NaN    Male        Pajamas              33.918834
4            3391  38.0    Male     Sunglasses              36.545487
...           ...   ...     ...            ...                    ...
3895          147  43.0  Female     Sunglasses              61.610602
3896         1472  37.0    Male        Pajamas              44.600556
3897         1069   NaN  Female        Handbag              41.781965
3898         1171  39.0    Male         Hoodie              45.343778
3899          478  21.0  Female         Gloves              49.439181

          Location Size         Color  Season  Review Rating   Shipping Type  \
0            Maine    M  Burnt orange    Fall            4.0        Standard
1              NaN    L     Turquoise  Winter            2.0         Express
2           Nevada    M   Terra cotta  Winter            4.0        Standard
3         Nebraska    M         Black  Winter            NaN        Standard
4           Oregon    S     Aubergine  Summer            NaN        Standard
...            ...  ...           ...     ...            ...             ...
3895      Colorado    S  Burnt orange    Fall            NaN  2-Day Shipping
3896        Alaska    S     Aubergine  Winter            4.0  2-Day Shipping
3897       Wyoming    M       Fuchsia  Summer            NaN        Standard
3898      Illinois    S     Brick red    Fall            NaN  2-Day Shipping
3899  North Dakota    M     Aubergine  Winter            4.0  2-Day Shipping

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
0                 No                   0    Credit Card                    NaN
1                 No                   1    Credit Card                Monthly
2                 No                   0    Credit Card                    NaN
3                 No                   2    Credit Card              Bi-Weekly
4                 No                   0    Credit Card                    NaN
...              ...                 ...            ...                    ...
3895             Yes                   7          Venmo                    NaN
3896             Yes                  20          Venmo                    NaN
3897             Yes                  13          Venmo                    NaN
3898             Yes                   3          Venmo                    NaN
3899             Yes                   2          Venmo                    NaN

[3900 rows x 15 columns]>

In [22]:
# TODO: it looks like there is roughly 65% of data missing "Frequency of Purchases". Drop this column, as it is mostly empty and unneeded for our analysis.
# In addition, also drop "Customer ID" as this column is also unnecessary
# Reassign this dropped dataframe as a new variable
# Documentation: drive.google.com/drive/folders/1pAWY1JqIQw26uhtT272AoDDeq7jtbkm2

df_new = df.drop(['Frequency of Purchases', 'Customer ID'], axis=1)
df_new

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,NaN,Male,Jacket,30.904467,Maine,M,Burnt orange,Fall,4.0,Standard,No,0,Credit Card
1,21.0,Female,Backpack,31.588259,NaN,L,Turquoise,Winter,2.0,Express,No,1,Credit Card
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card
3,NaN,Male,Pajamas,33.918834,Nebraska,M,Black,Winter,NaN,Standard,No,2,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,NaN,Standard,No,0,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,43.0,Female,Sunglasses,61.610602,Colorado,S,Burnt orange,Fall,NaN,2-Day Shipping,Yes,7,Venmo
3896,37.0,Male,Pajamas,44.600556,Alaska,S,Aubergine,Winter,4.0,2-Day Shipping,Yes,20,Venmo
3897,NaN,Female,Handbag,41.781965,Wyoming,M,Fuchsia,Summer,NaN,Standard,Yes,13,Venmo
3898,39.0,Male,Hoodie,45.343778,Illinois,S,Brick red,Fall,NaN,2-Day Shipping,Yes,3,Venmo
3899,21.0,Female,Gloves,49.439181,North Dakota,M,Aubergine,Winter,4.0,2-Day Shipping,Yes,2,Venmo

In [23]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3900, 13)"

print(df_new.shape)

(3900, 13)

In [26]:
# TODO: while "Review Rating" is also mostly empty, we are interested in figuring out why some users
# leave reviews and others don't. 

# Therefore we will NOT drop this column. Instead, let's reassign 
# all missing values in "Review Rating" with "Missing", and all non-na values as "Present"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

df_new['Review Rating'] = df_new['Review Rating'].fillna('Missing').apply(lambda x: 'Present' if x != 'Missing' else x)
print(df_new)

       Age  Gender Item Purchased  Purchase Amount (USD)      Location Size  \
0      NaN    Male         Jacket              30.904467         Maine    M
1     21.0  Female       Backpack              31.588259           NaN    L
2     31.0    Male       Leggings              24.231704        Nevada    M
3      NaN    Male        Pajamas              33.918834      Nebraska    M
4     38.0    Male     Sunglasses              36.545487        Oregon    S
...    ...     ...            ...                    ...           ...  ...
3895  43.0  Female     Sunglasses              61.610602      Colorado    S
3896  37.0    Male        Pajamas              44.600556        Alaska    S
3897   NaN  Female        Handbag              41.781965       Wyoming    M
3898  39.0    Male         Hoodie              45.343778      Illinois    S
3899  21.0  Female         Gloves              49.439181  North Dakota    M

             Color  Season Review Rating   Shipping Type Promo Code Used  \
0     Burnt orange    Fall       Present        Standard              No
1        Turquoise  Winter       Present         Express              No
2      Terra cotta  Winter       Present        Standard              No
3            Black  Winter       Missing        Standard              No
4        Aubergine  Summer       Missing        Standard              No
...            ...     ...           ...             ...             ...
3895  Burnt orange    Fall       Missing  2-Day Shipping             Yes
3896     Aubergine  Winter       Present  2-Day Shipping             Yes
3897       Fuchsia  Summer       Missing        Standard             Yes
3898     Brick red    Fall       Missing  2-Day Shipping             Yes
3899     Aubergine  Winter       Present  2-Day Shipping             Yes

      Previous Purchases Payment Method
0                      0    Credit Card
1                      1    Credit Card
2                      0    Credit Card
3                      2    Credit Card
4                      0    Credit Card
...                  ...            ...
3895                   7          Venmo
3896                  20          Venmo
3897                  13          Venmo
3898                   3          Venmo
3899                   2          Venmo

[3900 rows x 13 columns]

In [31]:
# TODO: Now that we've dropped and transformed our columns, drop the remaining rows that contain missing values
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

df_new=df_new.dropna()
df_new

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
5,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
6,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
7,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,39.0,Male,Running Shoes,55.636680,Kansas,L,White,Summer,Missing,2-Day Shipping,Yes,11,Venmo
3895,43.0,Female,Sunglasses,61.610602,Colorado,S,Burnt orange,Fall,Missing,2-Day Shipping,Yes,7,Venmo
3896,37.0,Male,Pajamas,44.600556,Alaska,S,Aubergine,Winter,Present,2-Day Shipping,Yes,20,Venmo
3898,39.0,Male,Hoodie,45.343778,Illinois,S,Brick red,Fall,Missing,2-Day Shipping,Yes,3,Venmo
3899,21.0,Female,Gloves,49.439181,North Dakota,M,Aubergine,Winter,Present,2-Day Shipping,Yes,2,Venmo

In [35]:
# TODO: display how many null values are in each column of this dataframe
# validate that each column has no missing values

null_data = df_new.isnull().sum()
print("Null Counts in Each Column:")
print(null_data)

Null Counts in Each Column:
Age                      0
Gender                   0
Item Purchased           0
Purchase Amount (USD)    0
Location                 0
Size                     0
Color                    0
Season                   0
Review Rating            0
Shipping Type            0
Promo Code Used          0
Previous Purchases       0
Payment Method           0
dtype: int64

In [37]:
if null_data.sum() == 0:
    print ("YAY! We did it right! No missing values")
else:
    print ("Ugh! There are missing values! So let's revisit!")

YAY! We did it right! No missing values

In [39]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3158, 13)"
print("Shape of the DataFrame:", df_new.shape)

expected_shape = (3158, 13)
if df_new.shape == expected_shape:
    print("The shape matches what we wanted.")
else:
    print("The shape does not match!!.")

Shape of the DataFrame: (3158, 13)
The shape matches what we wanted.

In [40]:
# TODO: print out the first 5 rows of this dataframe for validation

df_new.head

<bound method NDFrame.head of        Age  Gender Item Purchased  Purchase Amount (USD)      Location Size  \
2     31.0    Male       Leggings              24.231704        Nevada    M
4     38.0    Male     Sunglasses              36.545487        Oregon    S
5     26.0    Male       Leggings              23.595139        Nevada   XL
6     43.0    Male          Dress              34.079015    California    M
7     29.0    Male         Shorts              23.796439     Minnesota    M
...    ...     ...            ...                    ...           ...  ...
3894  39.0    Male  Running Shoes              55.636680        Kansas    L
3895  43.0  Female     Sunglasses              61.610602      Colorado    S
3896  37.0    Male        Pajamas              44.600556        Alaska    S
3898  39.0    Male         Hoodie              45.343778      Illinois    S
3899  21.0  Female         Gloves              49.439181  North Dakota    M

             Color  Season Review Rating   Shipping Type Promo Code Used  \
2      Terra cotta  Winter       Present        Standard              No
4        Aubergine  Summer       Missing        Standard              No
5            Brown  Winter       Missing        Standard              No
6      Terra cotta    Fall       Present        Standard              No
7         Lavender  Summer       Present         Express              No
...            ...     ...           ...             ...             ...
3894         White  Summer       Missing  2-Day Shipping             Yes
3895  Burnt orange    Fall       Missing  2-Day Shipping             Yes
3896     Aubergine  Winter       Present  2-Day Shipping             Yes
3898     Brick red    Fall       Missing  2-Day Shipping             Yes
3899     Aubergine  Winter       Present  2-Day Shipping             Yes

      Previous Purchases Payment Method
2                      0    Credit Card
4                      0    Credit Card
5                      3    Credit Card
6                      0    Credit Card
7                      0    Credit Card
...                  ...            ...
3894                  11          Venmo
3895                   7          Venmo
3896                  20          Venmo
3898                   3          Venmo
3899                   2          Venmo

[3158 rows x 13 columns]>

In [44]:
# TODO: write this newly transformed dataset to the `data/processed` folder. Name it "shopping_cleaned.csv" 
# Be sure to not include an additional index when writing this csv file
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

transformed_csv_path = "../data/processed/shopping_cleaned.csv"
df_new.to_csv(transformed_csv_path, index=False)

In [46]:
print(f"The cleaned DataFrame has been successfully written to {transformed_csv_path}.")

The cleaned DataFrame has been successfully written to ../data/processed/shopping_cleaned.csv.