# Data Transformation I

Next, we will begin transforming our dataset by dropping values. Our primary goal of this process is to:

* drop rows with missing data
* drop select columns with overwhelmingly missing data

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part2.md` file.

In [44]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [45]:
# TODO: load `data/raw/shopping.csv` as a pandas dataframe
df=pd.read_csv("../data/raw/shopping.csv")

In [46]:
# TODO: print out the shape of this dataframe for better clarity
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html

print(df.shape)

(3900, 15)

In [47]:
# TODO: display how many null values are in each column of this dataframe
# Documentation: https://datatofish.com/count-nan-pandas-dataframe/

df.isnull()

,Customer ID,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True
3896,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3897,False,True,False,False,False,False,False,False,False,True,False,False,False,False,True
3898,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True
3899,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [48]:
# TODO: it looks like there is roughly 65% of data missing "Frequency of Purchases". Drop this column, as it is mostly empty and unneeded for our analysis.
# In addition, also drop "Customer ID" as this column is also unnecessary
# Reassign this dropped dataframe as a new variable
# Documentation: drive.google.com/drive/folders/1pAWY1JqIQw26uhtT272AoDDeq7jtbkm2

df_new = df.drop(['Frequency of Purchases', 'Customer ID'], axis=1)
df_new

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,NaN,Male,Jacket,30.904467,Maine,M,Burnt orange,Fall,4.0,Standard,No,0,Credit Card
1,21.0,Female,Backpack,31.588259,NaN,L,Turquoise,Winter,2.0,Express,No,1,Credit Card
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card
3,NaN,Male,Pajamas,33.918834,Nebraska,M,Black,Winter,NaN,Standard,No,2,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,NaN,Standard,No,0,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,43.0,Female,Sunglasses,61.610602,Colorado,S,Burnt orange,Fall,NaN,2-Day Shipping,Yes,7,Venmo
3896,37.0,Male,Pajamas,44.600556,Alaska,S,Aubergine,Winter,4.0,2-Day Shipping,Yes,20,Venmo
3897,NaN,Female,Handbag,41.781965,Wyoming,M,Fuchsia,Summer,NaN,Standard,Yes,13,Venmo
3898,39.0,Male,Hoodie,45.343778,Illinois,S,Brick red,Fall,NaN,2-Day Shipping,Yes,3,Venmo
3899,21.0,Female,Gloves,49.439181,North Dakota,M,Aubergine,Winter,4.0,2-Day Shipping,Yes,2,Venmo

In [49]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3900, 13)"

print(df_new.shape)

(3900, 13)

In [61]:
# TODO: while "Review Rating" is also mostly empty, we are interested in figuring out why some users
# leave reviews and others don't. 

# Therefore we will NOT drop this column. Instead, let's reassign 
# all missing values in "Review Rating" with "Missing", and all non-na values as "Present"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

df_new["Review Rating"]=df_new["Review Rating"].fillna("Missing").replace({1:"Present", 2:"Present", 3:"Present", 4:"Present", 5:"Present"})
df_new['Review Rating'] = df_new['Review Rating'].replace(np.nan, value = "Missing")

In [62]:
# TODO: Now that we've dropped and transformed our columns, drop the remaining rows that contain missing values
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

df_new=df_new.dropna()
df_new

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
5,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
6,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
7,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894,39.0,Male,Running Shoes,55.636680,Kansas,L,White,Summer,Missing,2-Day Shipping,Yes,11,Venmo
3895,43.0,Female,Sunglasses,61.610602,Colorado,S,Burnt orange,Fall,Missing,2-Day Shipping,Yes,7,Venmo
3896,37.0,Male,Pajamas,44.600556,Alaska,S,Aubergine,Winter,Present,2-Day Shipping,Yes,20,Venmo
3898,39.0,Male,Hoodie,45.343778,Illinois,S,Brick red,Fall,Missing,2-Day Shipping,Yes,3,Venmo
3899,21.0,Female,Gloves,49.439181,North Dakota,M,Aubergine,Winter,Present,2-Day Shipping,Yes,2,Venmo

In [63]:
# TODO: display how many null values are in each column of this dataframe
# validate that each column has no missing values

null_data = df_new.isnull().sum()
print("Null Counts in Each Column:")
print(null_data)

Null Counts in Each Column:
Age                      0
Gender                   0
Item Purchased           0
Purchase Amount (USD)    0
Location                 0
Size                     0
Color                    0
Season                   0
Review Rating            0
Shipping Type            0
Promo Code Used          0
Previous Purchases       0
Payment Method           0
dtype: int64

In [64]:
if null_data.sum() == 0:
    print ("No missing values")
else:
    print ("There are missing values.")

No missing values

In [65]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3158, 13)"
print("Shape of the DataFrame:", df_new.shape)

expected_shape = (3158, 13)
if df_new.shape == expected_shape:
    print("The shape matches what we wanted.")
else:
    print("The shape does not match!!.")

Shape of the DataFrame: (3158, 13)
The shape matches what we wanted.

In [66]:
# TODO: print out the first 5 rows of this dataframe for validation

df_new.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
5,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
6,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
7,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card

In [67]:
# TODO: write this newly transformed dataset to the `data/processed` folder. Name it "shopping_cleaned.csv" 
# Be sure to not include an additional index when writing this csv file
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

transformed_csv_path = "../data/processed/shopping_cleaned.csv"
df_new.to_csv(transformed_csv_path, index=False)

In [68]:
print(f"The cleaned DataFrame has been successfully written to {transformed_csv_path}.")

The cleaned DataFrame has been successfully written to ../data/processed/shopping_cleaned.csv.