## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [10]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

df=pd.read_csv("../data/processed/shopping_cleaned.csv")

In [15]:
transformed_csv_path = "../data/processed/shopping_cleaned.csv"
# Load the CSV file into a DataFrame
df_new = pd.read_csv(transformed_csv_path)

# Print the first few rows of the DataFrame for verification
print(df_new.head())

    Age Gender Item Purchased  Purchase Amount (USD)    Location Size  \
0  31.0   Male       Leggings              24.231704      Nevada    M
1  38.0   Male     Sunglasses              36.545487      Oregon    S
2  26.0   Male       Leggings              23.595139      Nevada   XL
3  43.0   Male          Dress              34.079015  California    M
4  29.0   Male         Shorts              23.796439   Minnesota    M

         Color  Season Review Rating Shipping Type Promo Code Used  \
0  Terra cotta  Winter       Present      Standard              No
1    Aubergine  Summer       Missing      Standard              No
2        Brown  Winter       Missing      Standard              No
3  Terra cotta    Fall       Present      Standard              No
4     Lavender  Summer       Present       Express              No

   Previous Purchases Payment Method
0                   0    Credit Card
1                   0    Credit Card
2                   3    Credit Card
3                   0    Credit Card
4                   0    Credit Card

In [18]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html
pivot_df = pd.pivot_table(df_new, values='Location', index='Color', columns='Season', aggfunc=len, fill_value=0)

In [19]:
# TODO: Display this pivot table

pivot_df

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [23]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

fall = pivot_df['Fall']

fall_sorted = fall.sort_values(ascending=False)

print(fall_sorted)

Color
Brown                   97
Burnt orange            93
Terra cotta             91
Ruby Red                90
Brick red               88
Mauve                   86
Black                   84
Muted mustard yellow    84
Aubergine               83
Baby blue               16
Lavender                13
White                   10
Periwinkle               9
Pale peach               9
Lemon yellow             9
Turquoise                7
Fuchsia                  3
Name: Fall, dtype: int64

In [24]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

winter = pivot_df['Winter']
winter_sorted = winter.sort_values(ascending=False)
print(winter_sorted)

Color
Black                   124
Burnt orange            112
Aubergine               111
Brick red               110
Ruby Red                107
Terra cotta             101
Mauve                    95
Brown                    89
Muted mustard yellow     87
Baby blue                21
Fuchsia                  18
Turquoise                16
Pale peach               15
Lemon yellow             13
White                    11
Periwinkle                8
Lavender                  6
Name: Winter, dtype: int64

In [26]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

spring= pivot_df['Spring']
spring_sorted= spring.sort_values(ascending=False)
spring_sorted

Color
Baby blue               69
White                   63
Lavender                55
Periwinkle              54
Pale peach              52
Turquoise               49
Lemon yellow            47
Fuchsia                 45
Muted mustard yellow     8
Brick red                7
Mauve                    5
Brown                    5
Black                    5
Burnt orange             4
Terra cotta              4
Ruby Red                 3
Aubergine                2
Name: Spring, dtype: int64

In [29]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

Summer= pivot_df['Summer']
Summer_sorted= Summer.sort_values(ascending=False)
Summer_sorted

Color
Lavender                102
Lemon yellow             98
Baby blue                84
Periwinkle               82
Pale peach               81
White                    81
Fuchsia                  78
Turquoise                74
Terra cotta              15
Muted mustard yellow     13
Aubergine                13
Brick red                12
Black                     9
Ruby Red                  8
Mauve                     7
Burnt orange              5
Brown                     3
Name: Summer, dtype: int64

In [35]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

max_index = pivot_df.idxmax()
max_index

Season
Fall          Brown
Spring    Baby blue
Summer     Lavender
Winter        Black
dtype: object

In [36]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

pivot_df2 = pd.pivot_table(df_new, values='Location', index='Item Purchased', columns='Season', aggfunc=len, fill_value=0)
pivot_df

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [37]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

max_index2 = pivot_df2.idxmax()
max_index2

Season
Fall           Backpack
Spring    Running Shoes
Summer           Shorts
Winter         Leggings
dtype: object

In [43]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"

promo_users_df = df_new[df_new['Promo Code Used'] == 'Yes']

non_promo_users_df = df_new[df_new['Promo Code Used'] != 'Yes']

In [44]:
non_promo_users_df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
1,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
2,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
3,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
4,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card

In [45]:
promo_users_df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
1785,36.0,Female,Running Shoes,62.442101,Massachusetts,L,White,Summer,Present,Standard,Yes,0,Credit Card
1786,57.0,Male,Backpack,51.969839,Michigan,M,Aubergine,Fall,Missing,2-Day Shipping,Yes,1,Credit Card
1787,26.0,Male,Socks,54.899050,Wisconsin,M,Black,Fall,Missing,2-Day Shipping,Yes,0,Credit Card
1788,36.0,Female,Handbag,46.883976,Delaware,S,Mauve,Summer,Missing,2-Day Shipping,Yes,2,Credit Card
1789,34.0,Female,Backpack,45.171082,Texas,L,Mauve,Winter,Present,2-Day Shipping,Yes,13,Credit Card

In [49]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)

print(promo_users_df.shape)

(1373, 13)

In [67]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351

avg_promo_users=promo_users_df["Purchase Amount (USD)"].mean()
avg_promo_users

50.06747998236351

In [68]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

print(non_promo_users_df.shape)

(1785, 13)

In [71]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

avg_non_promo_users_df=non_promo_users_df["Purchase Amount (USD)"].mean()
avg_non_promo_users_df

30.155750765104113

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Answer here

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Answer here

In [ ]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

...

In [ ]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

...

In [ ]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

...

In [ ]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

...

In [ ]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

...

In [ ]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

...

In [ ]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

...

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

Answer here

### Q2

What are the top three colors for Spring & Summer?

Answer here

### Q3

What is the most popular clothing item by season?

Answer here

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

Answer here

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

Answer here