## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [2]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

df=pd.read_csv("../data/processed/shopping_cleaned.csv")

In [4]:
transformed_csv_path = "../data/processed/shopping_cleaned.csv"
# Load the CSV file into a DataFrame
df_new = pd.read_csv(transformed_csv_path)

# Print the first few rows of the DataFrame for verification
df_new.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card
1,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,5.0,Standard,No,0,Credit Card
2,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,2.0,Express,No,0,Credit Card
3,25.0,Female,Jacket,31.595005,Washington,M,Mauve,Fall,4.0,Standard,No,4,Credit Card
4,32.0,Female,Handbag,34.151352,Delaware,S,White,Summer,4.0,Standard,No,11,Credit Card

In [5]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html
pivot_df = pd.pivot_table(df_new, values='Location', index='Color', columns='Season', aggfunc=len, fill_value=0)

In [6]:
# TODO: Display this pivot table

pivot_df

Season                Fall  Spring  Summer  Winter
Color
Aubergine               33       1       4      37
Baby blue                5      20      32       8
Black                   35       1       2      53
Brick red               25       0       4      47
Brown                   32       1       2      29
Burnt orange            30       1       1      48
Fuchsia                  1      22      27       5
Lavender                 5      22      37       1
Lemon yellow             2      17      39       6
Mauve                   41       1       2      30
Muted mustard yellow    28       2       6      31
Pale peach               2      18      29       5
Periwinkle               2      16      28       1
Ruby Red                33       1       2      36
Terra cotta             29       3       8      41
Turquoise                1      18      27       6
White                    2      25      25       4

In [7]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

fall = pivot_df['Fall']

fall_sorted = fall.sort_values(ascending=False)

print(fall_sorted)

Color
Mauve                   41
Black                   35
Aubergine               33
Ruby Red                33
Brown                   32
Burnt orange            30
Terra cotta             29
Muted mustard yellow    28
Brick red               25
Lavender                 5
Baby blue                5
Periwinkle               2
Lemon yellow             2
Pale peach               2
White                    2
Fuchsia                  1
Turquoise                1
Name: Fall, dtype: int64

In [8]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

winter = pivot_df['Winter']
winter_sorted = winter.sort_values(ascending=False)
print(winter_sorted)

Color
Black                   53
Burnt orange            48
Brick red               47
Terra cotta             41
Aubergine               37
Ruby Red                36
Muted mustard yellow    31
Mauve                   30
Brown                   29
Baby blue                8
Turquoise                6
Lemon yellow             6
Pale peach               5
Fuchsia                  5
White                    4
Periwinkle               1
Lavender                 1
Name: Winter, dtype: int64

In [9]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

spring= pivot_df['Spring']
spring_sorted= spring.sort_values(ascending=False)
spring_sorted

Color
White                   25
Fuchsia                 22
Lavender                22
Baby blue               20
Turquoise               18
Pale peach              18
Lemon yellow            17
Periwinkle              16
Terra cotta              3
Muted mustard yellow     2
Burnt orange             1
Brown                    1
Mauve                    1
Ruby Red                 1
Black                    1
Aubergine                1
Brick red                0
Name: Spring, dtype: int64

In [11]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

Summer= pivot_df['Summer']
Summer_sorted= Summer.sort_values(ascending=False)
Summer_sorted

Color
Lemon yellow            39
Lavender                37
Baby blue               32
Pale peach              29
Periwinkle              28
Turquoise               27
Fuchsia                 27
White                   25
Terra cotta              8
Muted mustard yellow     6
Brick red                4
Aubergine                4
Mauve                    2
Brown                    2
Ruby Red                 2
Black                    2
Burnt orange             1
Name: Summer, dtype: int64

In [12]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

max_index = pivot_df.idxmax()
max_index

Season
Fall             Mauve
Spring           White
Summer    Lemon yellow
Winter           Black
dtype: object

In [13]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

pivot_df2 = pd.pivot_table(df_new, values='Location', index='Item Purchased', columns='Season', aggfunc=len, fill_value=0)
pivot_df

Season                Fall  Spring  Summer  Winter
Color
Aubergine               33       1       4      37
Baby blue                5      20      32       8
Black                   35       1       2      53
Brick red               25       0       4      47
Brown                   32       1       2      29
Burnt orange            30       1       1      48
Fuchsia                  1      22      27       5
Lavender                 5      22      37       1
Lemon yellow             2      17      39       6
Mauve                   41       1       2      30
Muted mustard yellow    28       2       6      31
Pale peach               2      18      29       5
Periwinkle               2      16      28       1
Ruby Red                33       1       2      36
Terra cotta             29       3       8      41
Turquoise                1      18      27       6
White                    2      25      25       4

In [14]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

max_index2 = pivot_df2.idxmax()
max_index2

Season
Fall              Socks
Spring    Running Shoes
Summer       Sunglasses
Winter         Leggings
dtype: object

In [15]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"

promo_users_df = df_new[df_new['Promo Code Used'] == 'Yes']

non_promo_users_df = df_new[df_new['Promo Code Used'] != 'Yes']

In [16]:
non_promo_users_df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card
1,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,5.0,Standard,No,0,Credit Card
2,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,2.0,Express,No,0,Credit Card
3,25.0,Female,Jacket,31.595005,Washington,M,Mauve,Fall,4.0,Standard,No,4,Credit Card
4,32.0,Female,Handbag,34.151352,Delaware,S,White,Summer,4.0,Standard,No,11,Credit Card

In [17]:
promo_users_df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
656,36.0,Female,Running Shoes,62.442101,Massachusetts,L,White,Summer,4.0,Standard,Yes,0,Credit Card
657,34.0,Female,Backpack,45.171082,Texas,L,Mauve,Winter,5.0,2-Day Shipping,Yes,13,Credit Card
658,27.0,Female,Scarf,48.190413,Iowa,L,Terra cotta,Fall,5.0,Next Day Air,Yes,9,Credit Card
659,40.0,Female,Socks,45.953656,Colorado,L,Burnt orange,Fall,4.0,Standard,Yes,0,Credit Card
660,35.0,Female,Sweater,48.517223,Montana,S,Burnt orange,Winter,4.0,2-Day Shipping,Yes,2,Credit Card

In [18]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)

print(promo_users_df.shape)

(482, 13)

In [19]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351

avg_promo_users=promo_users_df["Purchase Amount (USD)"].mean()
avg_promo_users

50.12485903768348

In [22]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

print(non_promo_users_df.shape)

(656, 13)

In [23]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

avg_non_promo_users_df=non_promo_users_df["Purchase Amount (USD)"].mean()
avg_non_promo_users_df

30.159703240861806

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

I hypothesize that there is no significant diffferece in shoppers who used the promo code spent and users who did not use the promo code.

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

I hypothesize that shoppers who used the promo code spent significantly more than users who did not use the promo code.

In [24]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

from scipy import stats

In [25]:
stats.ttest_ind(promo_users_df["Purchase Amount (USD)"], non_promo_users_df["Purchase Amount (USD)"])

TtestResult(statistic=56.35016016856537, pvalue=0.0, df=1136.0)

In [34]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

g_review = df.groupby('Review Rating')
for group_name, group_data in g_review:
    print(f"Group: {group_name}")
    print(group_data.head())
group_data.head()

Group: 1.0
      Age  Gender Item Purchased  Purchase Amount (USD)       Location Size  \
27   30.0  Female        T-shirt              32.310539       Virginia    L
48   32.0    Male     Sunglasses              24.539798     New Mexico    L
90   36.0    Male        Sweater              32.314418        Alabama    M
120  22.0    Male     Sunglasses              36.268301       Virginia    M
144  36.0    Male         Shorts              17.674929  West Virginia    S

          Color  Season  Review Rating Shipping Type Promo Code Used  \
27     Lavender  Spring            1.0      Standard              No
48     Lavender  Summer            1.0      Standard              No
90        Brown    Fall            1.0      Standard              No
120  Periwinkle  Spring            1.0      Standard              No
144     Fuchsia  Spring            1.0      Standard              No

     Previous Purchases Payment Method
27                   12    Credit Card
48                    3    Credit Card
90                    7    Credit Card
120                   7    Credit Card
144                   0    Credit Card
Group: 2.0
     Age      Gender Item Purchased  Purchase Amount (USD)    Location Size  \
2   29.0        Male         Shorts              23.796439   Minnesota    M
8   48.0        Male       Backpack              32.932207  New Mexico    L
11  42.0      Female     Sunglasses              28.852161    Virginia    M
18  30.0        Male     Sunglasses              32.121026     Georgia    L
20  21.0  Non-binary         Shorts              22.842739   Wisconsin    L

           Color  Season  Review Rating Shipping Type Promo Code Used  \
2       Lavender  Summer            2.0       Express              No
8   Burnt orange  Winter            2.0      Standard              No
11      Lavender  Spring            2.0      Standard              No
18     Baby blue  Summer            2.0      Standard              No
20  Lemon yellow  Summer            2.0      Standard              No

    Previous Purchases Payment Method
2                    0    Credit Card
8                    0    Credit Card
11                   5    Credit Card
18                   7    Credit Card
20                  15    Credit Card
Group: 3.0
      Age  Gender Item Purchased  Purchase Amount (USD)        Location Size  \
552  38.0  Female        T-shirt              32.777565  South Carolina    L

            Color  Season  Review Rating Shipping Type Promo Code Used  \
552  Lemon yellow  Spring            3.0  Next Day Air              No

     Previous Purchases Payment Method
552                   0         PayPal
Group: 4.0
     Age  Gender Item Purchased  Purchase Amount (USD)    Location Size  \
0   31.0    Male       Leggings              24.231704      Nevada    M
3   25.0  Female         Jacket              31.595005  Washington    M
4   32.0  Female        Handbag              34.151352    Delaware    S
7   35.0    Male         Hoodie              29.422895   Wisconsin    L
10  56.0  Female         Gloves              30.133873    Michigan    L

          Color  Season  Review Rating Shipping Type Promo Code Used  \
0   Terra cotta  Winter            4.0      Standard              No
3         Mauve    Fall            4.0      Standard              No
4         White  Summer            4.0      Standard              No
7   Terra cotta    Fall            4.0       Express              No
10    Brick red  Winter            4.0      Standard              No

    Previous Purchases Payment Method
0                    0    Credit Card
3                    4    Credit Card
4                   11    Credit Card
7                    2    Credit Card
10                  12    Credit Card
Group: 5.0
     Age  Gender Item Purchased  Purchase Amount (USD)       Location Size  \
1   43.0    Male          Dress              34.079015     California    M
5   45.0    Male        Handbag              23.929249           Utah    L
6   34.0  Female  Running Shoes              33.052216       Kentucky    S
9   31.0  Female     Sunglasses              31.624913  West Virginia    L
12  18.0  Female       Leggings              25.405344     California    M

          Color  Season  Review Rating Shipping Type Promo Code Used  \
1   Terra cotta    Fall            5.0      Standard              No
5       Fuchsia  Spring            5.0      Standard              No
6       Fuchsia  Spring            5.0      Standard              No
9       Fuchsia  Spring            5.0       Express              No
12    Aubergine  Winter            5.0      Standard              No

    Previous Purchases Payment Method
1                    0    Credit Card
5                    3    Credit Card
6                    2    Credit Card
9                    1    Credit Card
12                   0    Credit Card

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
1,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,5.0,Standard,No,0,Credit Card
5,45.0,Male,Handbag,23.929249,Utah,L,Fuchsia,Spring,5.0,Standard,No,3,Credit Card
6,34.0,Female,Running Shoes,33.052216,Kentucky,S,Fuchsia,Spring,5.0,Standard,No,2,Credit Card
9,31.0,Female,Sunglasses,31.624913,West Virginia,L,Fuchsia,Spring,5.0,Express,No,1,Credit Card
12,18.0,Female,Leggings,25.405344,California,M,Aubergine,Winter,5.0,Standard,No,0,Credit Card

In [35]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

keys = list(g_review.groups.keys())
print(f"Keys: {keys}")

Keys: [1.0, 2.0, 3.0, 4.0, 5.0]

In [36]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

average_values = g_review[['Purchase Amount (USD)', 'Age', 'Previous Purchases']].mean()
average_values

               Purchase Amount (USD)        Age  Previous Purchases
Review Rating
1.0                        34.145592  32.945946            4.270270
2.0                        38.813979  34.042169            6.415663
3.0                        32.777565  38.000000            0.000000
4.0                        38.699208  35.147627            6.952548
5.0                        38.865241  33.446575            6.945205

In [37]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

bin_edges = [-float('inf'), df['Previous Purchases'].median(), float('inf')]

bin_labels = ['Low', 'High']

df['Prev Purchase Group'] = pd.cut(df['Previous Purchases'], bins=bin_edges, labels=bin_labels, include_lowest=True)

df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method,Prev Purchase Group
0,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card,Low
1,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,5.0,Standard,No,0,Credit Card,Low
2,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,2.0,Express,No,0,Credit Card,Low
3,25.0,Female,Jacket,31.595005,Washington,M,Mauve,Fall,4.0,Standard,No,4,Credit Card,Low
4,32.0,Female,Handbag,34.151352,Delaware,S,White,Summer,4.0,Standard,No,11,Credit Card,High

In [38]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

bin_edges = [-float('inf'), df['Previous Purchases'].median(), float('inf')]

bin_labels = ['Low', 'High']

df['Prev Purchase Group'] = pd.cut(df['Previous Purchases'], bins=bin_edges, labels=bin_labels, include_lowest=True)

df.head()

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method,Prev Purchase Group
0,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,4.0,Standard,No,0,Credit Card,Low
1,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,5.0,Standard,No,0,Credit Card,Low
2,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,2.0,Express,No,0,Credit Card,Low
3,25.0,Female,Jacket,31.595005,Washington,M,Mauve,Fall,4.0,Standard,No,4,Credit Card,Low
4,32.0,Female,Handbag,34.151352,Delaware,S,White,Summer,4.0,Standard,No,11,Credit Card,High

In [39]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

counts_high_group = df[df['Prev Purchase Group'] == 'High']['Review Rating'].value_counts()

print("Counts in the 'High' group:")
counts_high_group

Counts in the 'High' group:

Review Rating
4.0    266
5.0    178
2.0     81
1.0     10
Name: count, dtype: int64

In [51]:
low_group = df[df['Prev Purchase Group'] == 'Low']
count_low_group = low_group['Review Rating'].value_counts()
print("Count of 'Missing' and 'Present' values in the 'Low' group:")
print(count_low_group)

Count of 'Missing' and 'Present' values in the 'Low' group:
Review Rating
Missing    1172
Present     537
Name: count, dtype: int64

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

The top three colors for fall incliude: Brown, Burnt Orange, and Terra cotta whereas the top three colors for winter include: Black, Burnt orange, and Aubergine.

### Q2

What are the top three colors for Spring & Summer?

The top three colors for Spring include baby blue, white, lavender whereas, summer is Lavender, Lemon Yellow, Baby blue.

### Q3

What is the most popular clothing item by season?

The popular clothing items by season goes as follows:
Fall           Backpack
Spring    Running Shoes
Summer           Shorts
Winter         Leggings

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

I hypothesize that there is no significant diffferece in shoppers who used the promo code spent and users who did not use the promo code. As a result, we would reject the null hypothesis that there is no difference in the "Purchase Amount (USD)" between the two groups.

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

From a human perspective, the high group might be more likely to leave reviews if these shoppers have a higher satisfaction level or a stronger motivation to share their experiences and they did have less missing reviews compared to the low. The low group may have scored lower maybe due to lower satisfaction or a tendency not to express how they felt.